<!DOCTYPE html>
<html>
<head>

<title>BlockBook</title>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../public/scripts.j\p--"></script>

    <!--==CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../public/stylesheets/main.css" rel="stylesheet" >

</head>


<body>

    <div class="container" style="height: 100%;">
        <div class="row main-content d-flex justify-content-around">

            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                <div class="logo"></div>
                <div class="business-name">Block<span>Book</span></div>

                <!-- Form -->
                <form id="submission" method="POST">
                    <input class="search-bar" type="text" placeholder="ISBN" name="search">
                    <div class="button-container">
                        <button class="look-up">Check Out</button>
                        <button class="search">Search</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>
