body {
    height: 100vh;
    width: 100vw;
}

/* Remove Chrome Terrible Target Glow */
textarea, input, button { outline: none; }

.main-content {
    height: 100%;
}

#submission {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;

    background-image: url("./../public/logo.png");
    background-size: 100% 100%;
}

.business-name {
    font-size: 36px;
    font-weight: 900;
    color: #00a383;
    text-align: center;
    margin: 10px 0 50px;
}

.business-name span {
    font-weight: 400;
    color: #aab;
}

.search-bar {
    width: 80%;
    padding: 10px;
    
    font-size: 20px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #00a383;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    width: 130px;
    height: 40px;

    margin: 20px 10px 10px;
    border: none;
    background: salmon;

    color: white;
    transition: background .3s;
}

.button-container button:hover {
    background: red;
    cursor: pointer;

    transition: background .3s;
}

.info-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.origin, .current, .title {
    height: 50px;
    width: 80%;
    margin: 1px;

    background: salmon;

    display: flex;
    justify-content: center;
    align-items: center;
}

.go-home {
    width: 80%;
    height: 60px;

    margin: 20px 10px 10px;
    border: none;
    background: salmon;

    font-size: 20px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background .3s;
}

.go-home:hover {
    background: red;

    transition: background .3s;
}

@media only screen and (min-width: 426px) {
    .info-container {
        flex-direction: row;
    }

    .origin, .current, .title, .go-home {
        width: 30%;
    }
}
